.todo-item {
  display: flex;
  
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s;
}

.todo-item:hover {
  background: #e3fafc;
}

.todo-item:hover .remove {
  opacity: 1;
}

.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}

.remove {
  font-weight: 600;
  color: #e64980;
  opacity: 0;
  padding: 1rem;
}

.todo-text {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #a5d8ff;
  font-weight: 800;
}